<span class="label">Server name:</span>
<div>
  <select [(ngModel)]="host" (ngModelChange)="hostChanged($event)">
    <option *ngFor="let host of hosts" value="{{host.id}}" [ngValue]="host">
      {{host.name}}
    </option>
  </select>
</div>
<div class="status-area">
  <span [class.light-on]="host?.status?.status=='online'">Online</span>
  <span class="splitter">|</span>
  <span [class.light-on]="host?.status?.status=='offline'">Offline</span>
</div>
<p>{{usersBoxText}}</p>
<div>
  <button type="button" (click)="usingButtonClicked()">{{usingButtonText}}</button>
  <button type="button" (click)="powerButtonClicked()" *ngIf="userPermissions?.admin">{{powerButtonText}}</button>
</div>